/* COLORS */
:root {
    --bg: #0f0f0f;
    --sidebar: #111;
    --channel-bg: #1a1a1a;
    --chat-bg: #0d0d0d;
    --topbar: #1a1a1a;
    --gold: #e7d259;
    --text: #fff;
}

/* GLOBAL */
body {
    margin: 0;
    color: var(--text);
    font-family: Arial, sans-serif;
    background: var(--bg);
    display: flex;
    height: 100vh;
}

/* MINI PROFILE */
.mini-profile {
    position: absolute;
    top: 15px;
    right: 15px;
    width: 190px;
    padding: 12px;

    background: #1a1a1a;
    display: flex;
    gap: 10px;
    align-items: center;

    border-bottom-left-radius: 18px;
    border-top-left-radius: 18px;
    border-bottom-right-radius: 18px;
    border-top-right-radius: 4px;

    box-shadow: 0px 4px 10px #00000060;
}

.mini-profile .pfp {
    width: 48px;
    height: 48px;
    border-radius: 50%;
}

.mini-profile h4 {
    margin: 0;
    font-size: 15px;
}

.mini-profile span {
    font-size: 12px;
    color: #c3c3c3;
}

/* SIDEBAR */
.sidebar {
    width: 240px;
    background: var(--sidebar);
    padding: 20px;
    box-sizing: border-box;
}

.logo {
    font-size: 26px;
    font-weight: bold;
    color: var(--gold);
    margin-bottom: 25px;
}

.channels h3 {
    font-size: 16px;
    margin-bottom: 10px;
    color: var(--gold);
}

.channel {
    width: 100%;
    padding: 10px;
    margin-bottom: 8px;
    text-align: left;
    background: var(--channel-bg);
    border: none;
    border-radius: 8px;
    color: var(--text);
    cursor: pointer;
}

.channel:hover {
    background: #222;
}

/* CHAT AREA */
.chat {
    flex: 1;
    display: flex;
    flex-direction: column;
}

.topbar {
    height: 55px;
    background: var(--topbar);
    display: flex;
    align-items: center;
    padding-left: 20px;
    font-weight: bold;
    color: var(--gold);
    font-size: 18px;
    border-bottom: 2px solid #00000040;
}

.messages {
    flex: 1;
    padding: 20px;
    overflow-y: auto;
}

.msg {
    margin-bottom: 12px;
}

.user {
    color: var(--gold);
    font-weight: bold;
    margin-right: 7px;
}

/* INPUT AREA */
.input-area {
    display: flex;
    padding: 15px;
    background: #121212;
}

.input-area input {
    flex: 1;
    padding: 12px;
    border-radius: 8px;
    border: none;
    background: #1b1b1b;
    color: var(--text);
}

.input-area button {
    margin-left: 10px;
    padding: 12px 24px;
    border-radius: 8px;
    border: none;
    background: var(--gold);
    color: black;
    cursor: pointer;
    font-weight: bold;
}
